:root{
    --primary-color: #204990;
    --secondary-color: #92140c;
    --dark-color: #706c61;
    --white-color: #d6f0f8;
    --accent-color: #cec288; 
 }
 
 body {
     color: #272525;
 }

 .fizz {
    font-family: ethnocentric,sans-serif;
    font-weight: 700;
    font-style: italic;
 }

 .magistral {
    font-family: magistral,sans-serif;
    font-weight: 300;
    font-style: normal;
 }
 
 

 h1,h2,h3,h4,h5,h6 {
     color: #1c1f25;
 }

 footer {
     padding-right: 1rem;
 }

 .bg-green {
     color:#9ce29c
 }

 footer .social>a {
     color: #9ce29c;
     opacity: 0.90;
 }

 footer .social>a:hover {
    opacity: 0.95;
    color: #3be63b;
 }

 .checklist >li i{
     color: #0cd40c;
 }

 .Fizz {
    color: red;
 }

 .Buzz {
    color: blue;
 }

 .FizzBuzz {
    color: rgb(17, 212, 17);
    font-weight: bold;
 }

code[class*="language-"],
        pre[class*="language-"] {
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
}

.btn-fbtn {
    background-color:#0cd40c;
    color: white;
}

 .bsicon {
     color:#7341bd;
 }

 .jsicon {
     color:rgb(226,211,4);
 }

 .html5icon {
     color:orangered;
 } 

 .cssicon {
     color:#2965f1;
 }

 
 

 

 main>.container {
    padding: 60px 15px 0;
}